.input {
  padding: 20px;
  background: rgba(255, 255, 255, 0.06);
  border: 2px solid var(--input-border-color);
  border-radius: 24px;

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:first-of-type {
      margin-bottom: 16px;
    }
  }

  &-title {
    font-size: 20px;
    color: var(--popup-title-color);
  }

  &-balance {
    font-weight: 600;
    font-size: 20px;
    color: var(--icons-color);
  }

  &-field {
    font-family: "Gilroy", sans-serif;
    border: none;
    background-color: transparent;
    font-size: 40px;
    color: var(--icons-color);
    font-weight: 700;
    width: 55%;
    margin-right: 20px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--input-color);
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:read-only {
      cursor: initial;
    }
  }

  &-max {
    padding: 8px 6px 7px 8px;
    border-radius: 12px;
    background: rgba(53, 105, 240, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
  }

  &-btn {
    font-size: 20px;
    padding: 14px 20px;
    border-radius: 18px;

    svg {
      margin-left: 8px;
    }
  }

  &-select {
    border: none;
    background-color: transparent;
    font-size: 26px;
    font-weight: 700;
    color: var(--mainblock-title-color);
    display: flex;
    align-items: center;
    padding: 0 0 0 17px;
    cursor: pointer;
    margin-left: auto;

    span {
      margin: 0 12px;
    }

    svg path {
      fill: var(--icons-color);
    }
  }

  &-token-img {
    width: 32px;
    height: 32px;
  }
}

@media screen and (max-width: 1025px) {
  .input {
    padding: 15px;
    border-radius: 18px;

    &-wrapper:first-of-type {
        margin-bottom: 12px;
    }

    &-title, &-balance {
      font-size: 18px;
    }

    &-field {
      font-size: 32px;
    }

    &-select {
      font-size: 22px;
    }
  }
}

@media screen and (max-width: 769px) {
  .input {
    &-wrapper {
      &:last-of-type {
        flex-wrap: wrap;
      }
    }

    &-field {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 481px) {
  .input-btn {
    width: 100%;
  }
}

@media screen and (max-width: 415px) {
  .input-title span{
    display: none;
  }
}