.connect-wallet {
  &-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .mainblock-btn {
      margin-top: 0;
    }
  }

  &-init-text {
    color: var(--icons-color);
    padding-top: 16px;
  }

}

@media screen and (max-width: 1025px) {
  .connect-wallet-init-text {
    font-size: 16px;
  }
}