.popup {
  &-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(92.91deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0) 109.76%);
    backdrop-filter: blur(30px);
    z-index: 15;

    .mainblock {
      position: fixed;
      top: 20%;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  &-title {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    text-align: center;
    color: var(--mainblock-title-color);
  }

  &-link {
    color: var(--header-link-color);
    border-bottom: 1px solid var(--header-link-color);
    margin-top: 20px;
  }

  &-btn {
    width: 100%;
    margin-top: 40px;
  }
}

@media screen and (max-width: 769px) {
  .popup-title {
    font-size: 30px;
  }
}

@media screen and (max-width: 481px) {
  .popup-title {
    font-size: 20px;
  }
}