.search-input {
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid var(--search-input-border-color);
  backdrop-filter: blur(100px);
  border-radius: 24px;
  font-family: 'Gilroy', sans-serif;
  font-size: 20px;
  color: var(--search-input-text-color);
  padding: 20px 57px;
  width: 100%;
  font-weight: 600;

  &-wrapper {
    position: relative;

    svg {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);

      path {
        fill: var(--search-icon-color);
      }
    }
  }

  &::placeholder {
    color: var(--search-input-text-color);
  }

  &:focus {
    outline: none;
  }
}


@media screen and (max-width: 481px) {
  .search-input {
    padding: 10px 10px 10px 50px;
  }
}