.pool {
  &-back {
    color: inherit;
    
  
    svg {
      margin-right: 21px;
  
      path {
        fill: var(--icons-color);
      }
    }
  }

  &-enter {
    opacity: 0;
    transform: translateX(100%);
  }
  &-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 200ms, transform 200ms;
  }
  &-enter-done {
    opacity: 1;
    transform: translateX(0);
  }
  &-exit {
    opacity: 1;
    transform: translateX(0);
  }
  &-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 200ms, transform 200ms;
  }
}

.liquidity-btn {
  padding: 8px 20px;
  border-radius: 18px;
}

@media screen and (max-width: 1025px) {
  .liquidity-btn {
    padding: 8px 12px;
    border-radius: 12px;
    font-size: 16px;
  }
}